.p {
margin-left: 20px;
}
.cnt {

    padding-top: 10px;
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-container button {
    margin-left: 20px;
}
.div {
    padding-top: 50px;
    padding-right: 10px;
    margin-left: 400px;
    font-size: 40px;
    font-family: cursive;
    color: rgb(210, 83, 9);
}
#title {
    margin-left: 450px;
    border-radius: 10px 10px 10px 10px;
    height: 25px;
    margin-top: 20px;
    width: 300px;
    font-size: 20px;
}
.btn {
    border-radius: 10px 10px 10px 10px;
    height: 30px;
    font-size: 20px;
    background-color: #27282a;
    color: rgb(210, 83, 9);
    border-color: black;
    width: 90px;
    height: 32px;
    transition: all 300ms;
}
button:hover {
    background-color: #27282a;
    color:rgb(6, 163, 163);
}
.hola{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.inactive{
    color:black;
}
.hola {
    color:blue
}
@media only screen and (max-width: 700px){

    .los {
    margin-right: 100px;
}
}
@media only screen and (max-width: 450px) {
    .los {
        margin-right: 20px;
}
}
@media only screen and (max-width: 880px) {
    .los {
        margin-right: 0px;
}
}
.los {
    margin-top: 20px;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    margin-right: 500px;
    font-size: 35px;
    border:0px;
    transition: all 400ms;
    box-shadow: 10px 10px;
}
.divsito {
    padding: 5px 0 5px 0;
    margin-top: 20px;
    border-radius: 30px;
    border: 0px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: fit-content;
    font-size: 35px;
    background-color: #27282a;
}
.info{
margin-top: 20px;
margin-left: 30px;
color:rgb(210, 83, 9);
font-size: 28px;
font-family: cursive;

}