.favorites{
    color: rgb(210, 83, 9) ;
    font-family: cursive;
    margin-left: 20px;
}
.cnt {
    padding-top: 10px;
    
}
body {
    color:blue;
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.peakpx.com%2Fes%2Fhd-wallpaper-desktop-ojony&psig=AOvVaw2hit-WfFykCtQGY1XlKKFz&ust=1665591070842000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCMCDsbbI2PoCFQAAAAAdAAAAABAD) fixed no-repeat;
}

.botoncito {
    margin-top: 20px;
    border-radius: 20px;
    width: 170px;
    height: 50px;
    margin-right: 400px;
    font-size: 35px;
    border:0px;
    transition: all 400ms;
    box-shadow: 10px 10px;
}
.hola{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.divsito {
    
    margin-top: 20px;
    border-radius: 20px;
    border: solid rgb(210, 83, 9) 2px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 60px;
    font-size: 35px
}